.header {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.buttonRow {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  gap: 20px;
}

.icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media only screen and (max-device-width: 480px) {
  .header {
    font-size: 35px;
  }

  .icon {
    height: 25px;
    width: 25px;
  }
}
